<p id="notice"><%= notice %></p>

<p>
  <strong>Trip:</strong>
  <%= @get.trip %>
</p>

<p>
  <strong>Name:</strong>
  <%= @get.name %>
</p>

<p>
  <strong>Of:</strong>
  <%= @get.of %>
</p>

<p>
  <strong>Trip:</strong>
  <%= @get.trip %>
</p>

<p>
  <strong>Type:</strong>
  <%= @get.type %>
</p>

<p>
  <strong>Date:</strong>
  <%= @get.date %>
</p>

<%= link_to 'Edit', edit_get_path(@get) %> |
<%= link_to 'Back', gets_path %>
