<p id="notice"><%= notice %></p>

     <div class="page-header">
       <h1>All Trips</h1>
     </div>
     
     <% @trips.each do |trip| %>
        <div class="trip">
          <strong><%= trip.type %></strong>
          <p><%= trip.date %></p>
           <p><%= trip.time %></p>
           <div class="meta">
             <%= link_to time_ago_in_words(trip.created_at) + " ago", trip %> |
             <span class="admin">
               <%= link_to "Edit", edit_trip_path(trip) %> |
                <%= link_to "Delete", trip, method: :delete,  data:{ confirm: "are you sure you want to delet the trip?"} %>
             </span>
           </div>
            </div>
     <% end %>
 <%= link_to 'New Trip', new_trip_path, class: "btn" %>