<!DOCTYPE html>
<html>
<head>
  <title>DublinTours</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
        <div class="navbar navar-fixed-top">
            <div class="navbar-inner">
                 <div class="container">
                 <ul class="nav pull-right">
                     <li><%= link_to "Logout", destroy_user_session_path,
                       method: :delete%></li>
                 </ul>
                 <ul class="nav pull-right">
                     <li><%= link_to "Register", new_user_registration_path%></li>
                 </ul>
                 <ul class="nav pull-right">
                     <li><%= link_to "Login", new_user_session_path%></li>
                 </ul>
                 <ul class="nav pull-left">
                     <li><%= link_to "Trips", trips_path%></li> 
                 </ul>
                 <ul class="nav pull-left">
                     <li><%= link_to "Comments", comments_path%></li> 
                 </ul>
                 </div>
            </div>
        </div>
        <div class="container">
             <p class="notice"><%= notice %></p>
             <p class="alert"><%= alert %></p>
            <%= yield %>
            <p>Copyright &copy; Student Website <?php echo date("Y"); ?> </p>
         </div>
</body>
</html>
